/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.techriver-fb
{
    -moz-user-select: none;
    background: #2A49A5;
    border: 1px solid #082783;
    box-shadow: 0 1px #4C6BC7 inset;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #082783;
    font: 12px Verdana, sans-serif;
}
a.a-techriver-fb:hover{
	color:white !important;
}
a.a-techriver-fb{
	color:white;
}
.techriver-social-container{
	margin: 0 auto;
}
